*{
    background-color: black;
    font-family: "Roboto Condensed";
}
.logo-agua{
    position: absolute;
    left: -3%;
    display: flex;
    background-color: white;
    border-radius: 28%;
    width: 40%;
    height: 4%;

}
.logo-agua p{
    position: absolute;
    top: -40%;
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding-left: 25%;
}
.logo-agua img{
    position: absolute;
    top: -30%;
    background-color: transparent;
    padding-top: 15%;
    padding-left: 65%;
    width: 12%;
}